<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Bem vindo ao Lumina!</h1>
    <img src="https://camo.githubusercontent.com/3235583ec6da298b1b749adee17a7abda2d1903bb77c09d6edef6bda31b19b8f/68747470733a2f2f692e696d6775722e636f6d2f6848746a456d582e706e67" alt="">
    <p>Projeto de plataforma digital que integra empresas que oferecem serviços a 
        cerca da sustentabilidade, empresas que fornecem serviços encontram empresas que 
        precisam dos seviços podendo se contatar. A inclusão de governos e ONGs como partes 
        interessadas amplia o alcance do projeto, transformando-o em um hub abrangente para 
        diversos setores comprometidos com a sustentabilidade. Essa abordagem holística 
        reflete a ambição do projeto em catalisar não apenas a mudança no âmbito 
        empresarial, mas também influenciar políticas públicas e iniciativas sociais 
        em prol de um futuro mais sustentável. O Lumina não apenas compartilha 
        conhecimento, mas aspira a ser um catalisador para transformações positivas 
        em escala global, unindo diversos agentes para enfrentar os desafios contemporâneos 
        de maneira colaborativa.</p>

    <button onclick="window.location.href='/cadastro'">Go to Registration</button>
    <button onclick="window.location.href='/docs'">View API Documentation</button>
</body>
</html>
